<!-- Isotop-->
<section class="section section-lg bg-default text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7 wow-outer">
        <div class="wow slideInDown">
          <h3 class="title-decorate title-decorate-center">Our Portfolio</h3>
          <p>Below are some of the best moments captured during the latest weddings we have organized. Feel free to browse our website for more photos!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row isotope-wrap">
    <!-- Isotope Content-->
    <div class="col-lg-12">
      <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group" data-lg-thumbnail="false" data-column-class=".col-lg-3">
        <div class="row isotope-condensed">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 2">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-1-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-1-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 1">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-2-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-2-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 1">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-3-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-3-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 1">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-4-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-4-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 1">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-5-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-5-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 2">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-6-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-6-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 2">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-7-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-7-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 isotope-item wow-outer" data-filter="Category 2">
            <div class="wow fadeInUp">
              <div class="gallery-item-classic"><img src="/static/images/gallery-home-8-463x383.jpg" alt="" width="463" height="383"/>
                <div class="gallery-item-classic-caption"><a href="/static/images/gallery-home-8-original.jpg" data-lightgallery="item">zoom</a></div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
