<!-- Related articles -->
<section class="section section-lg">
  <div class="container">
    <div class="row row-50">
      <div class="col-12 text-center">
        <h3 class="title-decorate">Related articles</h3>
      </div>
{% for article in related_articles %}
      <div class="col-md-6 col-lg-3 wow-outer">
        <div class="post-modern">
          <div class="post-modern-figure">
            <a href="/{{article.lg}}/{{article.slug}}" aria-label="{{article.hero.title}}"><img src="/images/370/{{article.cover}}" alt="{{article.hero.title}}" width="370" loading="lazy"/></a>
          </div>
          <div class="post-modern-caption">
            <a href="/{{article.lg}}/{{article.slug}}" aria-label="{{article.hero.subtitle}}">
              <h4 class="post-modern-title">{{article.hero.title}}</h4>
              <p class="post-modern-text">{{article.hero.subtitle}}</p>
            </a>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
  </div>
</section>