<!-- Service-->
<section class="section section-xl bg-gray-light">
  <div class="container">
    <div class="row row-30 justify-content-center text-center">
      <div class="col-12 wow-outer">
        <div class="wow slideInDown">
          <h3 class="title-decorate title-decorate-center">Prestations de maquillage en Île-de-France</h3>
        </div>
      </div>
      <div class="col-lg-8 wow-outer">
        <div class="wow fadeInUp">
          <p>Je propose des séances de maquillage pour les mariages, enterrements de vie de jeune fille, soirées, anniversaires, cours de maquillage à domicile ou en studio, et séances photo.</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-4">
        <div class="wow fadeInUp">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="/static/images/400/accueil-maquillage-pour-mariage.avif" alt="" width="400" height="266"/>
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                <li><a class="icon icon-md fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Maquillage de Mariage</a></h4>
              <p>Prenons le temps de définir ensemble le maquillage de <a href="#">mariée</a> parfait qui reflète vraiment qui vous êtes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="wow fadeInUp">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="/static/images/400/accueil-cours-de-maquillage.avif" alt="" width="400" height="266"/>
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                <li><a class="icon icon-md fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Cours de maquillage</a></h4>
              <p>Cours individuels ou en groupe, pour particuliers ou professionnels, et aussi pour les adolescents.</p>
              <p>En famille, entre amis ou collègues…</p>
              <p>À domicile ou dans mon studio.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="wow fadeInUp">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="/static/images/400/accueil-enterrement-de-vie-de-jeune-fille.avif" alt="" width="400" height="266"/>
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                <li><a class="icon icon-md fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Enterrement de Vie de Jeune Fille</a></h4>
              <p>Un moment de détente et de fun entre amies pour célébrer la star du jour : la mariée.</p>
              <p>Pourquoi ne pas organiser un atelier maquillage entre filles en région parisienne pour un EVJF ?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="wow fadeInUp">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="/static/images/400/accueil-maquillage-a-domicile.avif" alt="" width="400" height="266"/>
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                <li><a class="icon icon-md fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Maquillage de Soirée</a></h4>
              <p>Anniversaire, réveillon, mariage, baptême, bar mitzvah...</p>
              <p>Brillez toute la nuit pour tous vos événements.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="wow fadeInUp">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="/static/images/400/accueil-maquillage-pour-shooting-photo.avif" alt="" width="400" height="266"/>
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                <li><a class="icon icon-md fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Shooting Photo</a></h4>
              <p>Un shooting photo réussi avec un maquillage qui sublime votre beauté et révèle le meilleur de vous-même.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="wow fadeInUp">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="/static/images/400/accueil-maquillage-pour-fetes.avif" alt="" width="400" height="266"/>
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
               <li><a class="icon icon-md fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Maquillage Festif</a></h4>
              <p>Fête d’anniversaire, mariage, soirée déguisée, célébration, carnaval, Halloween, baptême...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
