<!-- Home Hero section-->
<section class="section section-lg section-main-bunner">
  <div class="main-bunner-img" style="background-image: url(/images/1024/{{hero.image.src}}); background-size: cover;"></div>
  <div class="main-bunner-inner">
    <div class="container">
      <div class="row row-30 justify-content-lg-between align-items-lg-center">
        <div class="col-lg-9 col-xl-8 order-lg-1"><span class="bunner-location">{% if lg == 'en' %}20 years of experience{% elif lg == 'es' %}20 años de experiencia{% else %}20 ans d’expérience{% endif %}</span>
          <h1>Jennifer Perseverante</h1><span class="italic-subtitle offset-top-30">{% if lg == 'en' %}Professional makeup artist<br>At home or in my studio in Chevry-Cossigny (77).{% elif lg == 'es' %}Maquilladora profesional<br>En casa o en mi estudio en Chevry-Cossigny (77).{% else %}Maquilleuse professionnelle<br>À domicile ou dans mon studio de Chevry-Cossigny (77).{% endif %}</span>
        </div>
      </div>
    </div>
  </div>
</section>