<section class="featurettes">
    <div class="container" style="background-color:#a8797f">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="featurettes-wrap text-start mb-4">

                        <div class="row">

                            <div class="col-md-5 offset-md-1 col-sm-6">
                                <h4>Maquillage à domicile<br>avec Jennifer Perseverante</h4>
                                Essone<br>
                                Paris<br>
                                Seine-et-Marne<br>
                                Seine-Saint-Denis<br>
                                Val-de-Marne<br>
                                Val d'Oise<br>
                                Yvelines<br>
                            </div>

                            <div class="col-md-5 col-sm-5">
                                <img class="my-shadow" width="400" src="/images/400/maquillage-a-domicile.avif" alt="Studio de maquillage à Chevry-Cossigny">
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
