<!-- Contact form -->
<section class="section section-lg{% if contact_form.style == 'odd'%} bg-default bg-gray-light{% endif %}">
  <div class="container">
    <div id="contact-section" class="row justify-content-md-center">
      <div class="col-md-9 col-lg-7">
        <h3 class="title-decorate title-decorate-center">{{contact_form.title}}</h3>
        <!-- <p>{% autoescape off %}{{contact_form.subtitle}}{% endautoescape %}</p> -->
        <!-- {% autoescape off %}{{contact_form.email_security}}{% endautoescape %} -->

        <p>{% autoescape off %}{{contact_form.chapo}}{% endautoescape %}</p><br>

        <!-- Navigation par onglets -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">{{contact_form.generic.tab}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">{{contact_form.wedding.tab}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">{{contact_form.studio.tab}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">{{contact_form.at_home.tab}}</a>
            </li>
        </ul>
        <!-- Contenu des onglets -->
        <div class="tab-content" id="myTabContent">

            <!-- Onglet 1 : Renseignements -->
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="card-body">
                    <p>{% autoescape off %}{{contact_form.generic.header}}{% endautoescape %}</p>
                    <form class="rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="#" name="contact-us">
                        {% csrf_token %}
                        <input type="hidden" id="contact_type" name="contact_type" value="{{contact_form.contact_type}}">
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-6 form-input">
                                <input type="text" class="form-control" id="name" name="name" placeholder="{{contact_form.name_label}}">
                            </div>
                            <div class="col-md-6 form-input">
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{contact_form.email_label}}">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="{{contact_form.subject_label}}">
                            </div>
                            <div class="col-md-12 form-textarea">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="{{contact_form.generic.message_label}}"></textarea>
                            </div>
                            <div class="col-md-12 form-btn text-center">
                                <button class="btn btn-block button-lg" style="background-color: #d3c1c4;" type="submit" name="submit">{{contact_form.send_label}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Onglet 2 : Mariage -->
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="card-body">
                    <p>{% autoescape off %}{{contact_form.wedding.header}}{% endautoescape %}</p>
                    <form class="rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="#" name="contact-us">
                        {% csrf_token %}
                        <input type="hidden" id="contact_type" name="contact_type" value="{{contact_form.contact_type}}">
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-6 form-input">
                                <input type="text" class="form-control" id="name" name="name" placeholder="{{contact_form.name_label}}">
                            </div>
                            <div class="col-md-6 form-input">
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{contact_form.email_label}}">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="address" name="address" placeholder="{{contact_form.address_label}}">
                            </div>
                            <div class="col-md-4 form-input">
                                <input type="text" class="form-control" id="date" name="date" placeholder="{{contact_form.wedding.date_label}}">
                            </div>
                            <div class="col-md-4 form-input">
                                <input type="text" class="form-control" id="time" name="time" placeholder="{{contact_form.time_label}}">
                            </div>
                            <div class="col-md-4 form-input">
                                <input type="text" class="form-control" id="people" name="people" placeholder="{{contact_form.people_label}}">
                            </div> 
                            <div class="col-md-12 form-textarea">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="{{contact_form.wedding.message_label}}"></textarea>
                            </div>
                            <div class="col-md-12 form-btn text-center">
                                <button class="btn btn-block button-lg" style="background-color: #d3c1c4;" type="submit" name="submit">{{contact_form.send_label}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Onglet 3 : Studio de maquillage -->
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                <div class="card-body">
                    <p>{% autoescape off %}{{contact_form.studio.header}}{% endautoescape %}</p>
                    <form class="rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="#" name="contact-us">
                        {% csrf_token %}
                        <input type="hidden" id="contact_type" name="contact_type" value="{{contact_form.contact_type}}">
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-6 form-input">
                                <input type="text" class="form-control" id="name" name="name" placeholder="{{contact_form.name_label}}">
                            </div>
                            <div class="col-md-6 form-input">
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{contact_form.email_label}}">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="makeup" name="makeup" placeholder="{{contact_form.studio.makeup_label}}">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="event" name="event" placeholder="{{contact_form.studio.event_label}}">
                            </div>
                            <div class="col-md-6 form-input">
                                <input type="text" class="form-control" id="date" name="date" placeholder="{{contact_form.studio.date_label}}">
                            </div>
                            <div class="col-md-6 form-input">
                                <input type="text" class="form-control" id="time" name="time" placeholder="{{contact_form.time_label}}">
                            </div>
                            <div class="col-md-12 form-textarea">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="{{contact_form.studio.message_label}}"></textarea>
                            </div>
                            <div class="col-md-12 form-btn text-center">
                                <button class="btn btn-block button-lg" style="background-color: #d3c1c4;" type="submit" name="submit">{{contact_form.send_label}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Onglet 4 : Maquillage à domicile -->
            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                <div class="card-body">
                    <p>{% autoescape off %}{{contact_form.at_home.header}}{% endautoescape %}</p>
                    <form class="rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="#" name="contact-us">
                        {% csrf_token %}
                        <input type="hidden" id="contact_type" name="contact_type" value="{{contact_form.contact_type}}">
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-6 form-input">
                                <input type="text" class="form-control" id="name" name="name" placeholder="{{contact_form.name_label}}">
                            </div>
                            <div class="col-md-6 form-input">
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{contact_form.email_label}}">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="address" name="address" placeholder="{{contact_form.address_label}}">
                            </div>
                            <div class="col-md-4 form-input">
                                <input type="text" class="form-control" id="date" name="date" placeholder="{{contact_form.at_home.date_label}}">
                            </div>
                            <div class="col-md-4 form-input">
                                <input type="text" class="form-control" id="time" name="time" placeholder="{{contact_form.time_label}}">
                            </div>
                            <div class="col-md-4 form-input">
                                <input type="text" class="form-control" id="people" name="people" placeholder="{{contact_form.people_label}}">
                            </div>                            
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="makeup" name="makeup" placeholder="{{contact_form.at_home.makeup_label}}">
                            </div>
                            <div class="col-md-12 form-textarea">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="{{contact_form.at_home.message_label}}"></textarea>
                            </div>
                            <div class="col-md-12 form-btn text-center">
                                <button class="btn btn-block button-lg" style="background-color: #d3c1c4;" type="submit" name="submit">{{contact_form.send_label}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Fin Onglet -->
        </div>
      </div>
    </div>
  </div>
</section>
