<!-- Map At Home -->
<section class="section section-lg text-center" style="background-color:#d3c1c4">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-6 col-lg-6 text-start wow-outer">
{% if lg == 'en' %}
        <h3>Makeup at home<br>with Jennifer Perseverante</h3><br>
{% elif lg == 'es' %}
        <h3>Maquillaje en casa<br>con Jennifer Perseverante</h3><br>
{% else %}
        <h3>Maquillage à domicile<br>avec Jennifer Perseverante</h3><br>
{% endif %}
        Essone<br>
        Paris<br>
        Seine-et-Marne<br>
        Seine-Saint-Denis<br>
        Val-de-Marne<br>
        Val d'Oise<br>
        Yvelines<br>
      </div>
      <div class="col-md-6 col-lg-6 wow-outer">
        <img class="my-shadow" width="480" src="/images/480/maquillage-a-domicile.avif" alt="Maquillage à domicile">
      </div>
    </div>
  </div>
</section>