<!-- RD Navbar-->
<div class="rd-navbar-wrap">
  <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
    <div class="rd-navbar-main-outer">
      <div class="rd-navbar-main">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
          <!-- RD Navbar Toggle-->
          <button id="navbar-toggle-button" aria-label="Responsive Navbar" class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
          <!-- RD Navbar Brand-->
          <div class="rd-navbar-brand"><a href="/"><img class="brand-logo-light" src="/static/images/logo-transbeaute.png" alt="Transbeauté" width="243" height="41"></a></div>
        </div>
        <div class="rd-navbar-main-element"> 
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item{% if active == 'home' %} active{% endif %}"><a class="rd-nav-link" href="/{{lg}}/">{{ navbar.home.nav }}</a></li>

              <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{ navbar.services.nav }}</a>
                <ul class="rd-menu rd-navbar-dropdown">
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Cours de féministation pour homme</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Un maquillage spécialisé pour travesti – transgenre</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Maquillage et coaching en Ligne</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Personal Shopper</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Gardiennage</a></li>
                </ul>
              </li>
              <li class="rd-nav-item{% if active == 'studio' %} active{% endif %}"><a class="rd-nav-link" href="#">Témoignages intimes</a>
              <li class="rd-nav-item"><a class="rd-nav-link" href="#">Blog</a>
                <ul class="rd-menu rd-navbar-dropdown">
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Conseils beauté</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Confiance en soi</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Histoires transgenres & travestis</a></li>
                  <li class="rd-dropdown-item{% if active == 'out' %} active{% endif %}"><a class="rd-dropdown-link" href="/fr/sorties-transgenres-et-travestis">Sorties Transgenres et travestis</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Abonnement aux articles du blog</a></li>
                </ul>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="#">A propos</a>
              <li class="rd-nav-item"><a class="rd-nav-link" href="#">Contact</a>


{% if slugs_lg %}
  {% if lg == 'fr' %}
              <li class="rd-nav-item"><a class="rd-nav-link" href="/en/{{slugs_lg.en}}" aria-label="version anglaise">EN</a></li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="/es/{{slugs_lg.es}}" aria-label="version espagnole">ES</a></li>
  {% elif lg == 'en' %}
              <li class="rd-nav-item"><a class="rd-nav-link" href="/fr/{{slugs_lg.fr}}" aria-label="French version">FR</a></li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="/es/{{slugs_lg.es}}" aria-label="Spanish version">ES</a></li>
  {% elif lg == 'es' %}
              <li class="rd-nav-item"><a class="rd-nav-link" href="/fr/{{slugs_lg.fr}}" aria-label="versión francesa">FR</a></li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="/en/{{slugs_lg.en}}" aria-label="versión en inglés">EN</a></li>
  {% endif %}
{% endif %}
{% if environment == 'DEV' %}
              <li class="rd-nav-item"><a class="rd-nav-link" href="#">DEV</a>
                <ul class="rd-menu rd-navbar-dropdown">
                  <li class="rd-dropdown-item{% if active == 'demo' %} active{% endif %}"><a class="rd-dropdown-link" href="/demo">Page démo</a></li>
                  <li class="rd-dropdown-item{% if active == 'gallery' %} active{% endif %}"><a class="rd-dropdown-link" href="/gallery">Gallerie</a></li>
                </ul>
              </li>
{% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
{% comment %}
Active: {{ active }}<br/>
Navbar: {{ navbar }}<br/><br/>
Article: {{ article }}<br/><br/>
{% endcomment %}

