{% extends 'base.html' %}
{% block lg %}{{lg}}{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}

{% block body %}
<header class="section page-header">
  {% include "navbar.html" with lg='fr'  %}
</header>
{% include "row_home_hero.html" %}
<section class="section section-md bg-default">
 <div class="container">
    <h2>Page non trouvée (404)</h2>
    <p>Oups ! La page que vous cherchez n’existe pas.</p>
 </div>  
</section>
{% endblock %}