       <!--	Counters-->
      <section class="section">
        <section class="section parallax-container" data-parallax-img="/static/images/counters-bg.jpg">
          <div class="parallax-content section-xxl context-dark text-center bg-dark-filter">
            <div class="container">
              <div class="row row-50">
                <div class="col-sm-6 col-lg-3">
                  <article class="counter-classic">
                    <div class="counter-classic-main">
                      <div class="counter">50</div>
                    </div>
                    <p class="counter-classic-title">Vendors</p>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <article class="counter-classic">
                    <div class="counter-classic-main">
                      <div class="counter">12</div>
                    </div>
                    <p class="counter-classic-title">Wedding Planners</p>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <article class="counter-classic">
                    <div class="counter-classic-main">
                      <div class="counter">34</div><span class="small">k</span>
                    </div>
                    <p class="counter-classic-title">Weddings</p>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <article class="counter-classic">
                    <div class="counter-classic-main">
                      <div class="counter">4</div>
                    </div>
                    <p class="counter-classic-title">partners</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>