<!-- Map STUDIO -->
<section class="section section-lg text-center">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-6 col-lg-6 text-start wow-outer">
        <h3>Studio de Maquillage<br>à Chevry-Cossigny<br>(Seine-et-Marne)</h3><br>
        à 45 minutes en voiture de Paris via A4<br>
        à 30 minutes en voiture de Créteil via N19<br>
        à 25 minutes en voiture de Melun
      </div>
      <div class="col-md-6 col-lg-6 wow-outer">
        <img class="my-shadow" width="480" src="/images/480/studio-maquillage-chevry-cossigny.avif" alt="Studio de maquillage à Chevry-Cossigny">
      </div>
    </div>
  </div>
</section>